@font-face {
    font-family: 'kakaoBig';
    src:url(../fonts/KakaoBig.woff2) format('woff2');
    font-weight: 500;
}

@font-face {
    font-family: 'kakaoBig-Bold';
    src: url(../fonts/KakaoBig-Bold.woff2) format('woff2');
    font-weight: 700;
}

@font-face {
    font-family: 'Gillroy-M';
    src: url(../fonts/Gilroy-Medium.woff2) fomat('woff2');
    font-weight: 500;
}