.footer {
    padding: 30px 0 100px;
    margin: 0 5vw;
    position: relative;
    @include tablet {
        padding-bottom: 50px;
    }
    &::after {
        content: '';
        display: table;
        clear: both;
    }
}
.information {
    float: right;
    @include tablet {
        float: none;
    }
    .info-wrap {
        display: inline-block;
        @include tablet {
            display: flex;
            justify-content: space-between;
        }
        @include mobile2 {
            flex-direction: column;
        }
    }
    .info-list {
        position: relative;
        display: inline-block;
        vertical-align: middle;
        @include mobile2 {
            margin-bottom: 40px;
        }
    }
    .info-item {
        display: inline-block;
        vertical-align: top;
        position: relative;
        @include mobile2 {
            display: block;
        }
        &:nth-child(2) {
            a {
                color: #191919;
            }
        }
        a {
            display: block;
            padding: .7vw 1vw;
            font-size: .95vw;
            position: relative;
            font-family: 'kakaoBig-Bold';
            color: #888;
            transition: color .3s;
            @include tablet {
                font-size: 1.4vw;
            }
            @include mobile {
                font-size: 1.7vw;
            }
            @include mobile2 {
                font-size: 3.5vw;
                padding: 3vw 0;
            }
            i {
                svg {
                    transition: .3s;
                }
                path {
                    stroke: #888;
                    transition:.3s;
                }
            }
        }
        .option:nth-child(1),
        .option:nth-child(4) {
            margin-right: .4vw;
        }
        
        .sub-list {
            position: absolute;
            height: 127px;
            padding: 0 .7vw;
            background: #fff;
            border: 1px solid #ddd;
            border-radius: 4px;
            overflow: hidden;
            bottom: calc(100% + .7vw);
            display: none;
            @include tablet {
                height: auto;
                padding: 1vw .7vw;
            }
            @include mobile {
                padding: 1.8vw 1.3vw;
            }
            @include mobile2 {
                padding: 3vw 5vw;
            }
            &.notice {
                height: 77px;
                width: 10vw;
                @include tablet {
                    width: 15vw;
                    height: auto;
                    padding: 1vw .7vw;
                }
                @include mobile {
                    width: 19vw;
                    padding: 1.8vw 1.3vw;
                }
                @include mobile2 {
                    width: 40vw;
                    padding: 1.8vw 1.3vw 1.8vw 4vw;
                }
            }
        }
        .sub-item {
            &:first-child {
                margin-top: 1vh;
                @include tablet {
                    margin-top: 0;
                }
            }
            a {
                font-size: 10px;
                font-family: 'kakaoBig';
                color: #777;
                display: block;
                @include tablet {
                    font-size: 1.2vw;
                }
                @include mobile {
                    font-size: 1.4vw;
                }
                @include mobile2 {
                    font-size: 3vw;
                    padding: 2vw 0;
                }
            }
        }
        //hover 했을 때
        &.active {
            .option {
                color: #191919;
            }
            i {
                path {
                    stroke: #191919;
                }
            }
        }
    }
    //dropDown 클릭하면 하위메뉴 나옴
    .dropDown {
        &.show {
            svg {
                transform: rotate(-180deg) ;
            }
        }
    }


    .relate-site {
        display: inline-block;
        margin-left: 2vw;
        position: relative;
        vertical-align: middle;
        //클릭했을 때
        @include mobile2 {
            margin-left: 0;
            display: block;
        }
        &.active {
            svg {
                transform: rotate(45deg);
            }
            .list-wrap {
                display: block
            }
        }
        .relate-btn {
            display: block;
            width: 144px;
            padding:.7vw 2vw .7vw 1vw;
            position: relative;
            text-align: left;
            background: #f4f4f4;
            border: none;
            border-radius: 50rem;
            cursor: pointer;
            //마우스 올렸을 때
            @include mobile {
                padding: 1vw 3vw 1vw 2vw;
            }
            @include mobile2 {
                width: 100%;
                padding: 3vw 6vw;
            }
            &.btn-hover {
                span {
                    color: #191919;
                }
                path {
                    stroke: #191919;
                }
            }
            span {
                font-size: .8vw;
                font-family: 'kakaoBig-Bold';
                line-height: 1.2;
                color: #888;
                transition: .3s;
                @include tablet {
                    font-size: 1.2vw;
                }
                @include mobile {
                    font-size: 1.5vw;
                }
                @include mobile2 {
                    font-size: 3.5vw;
                }
            }
            i {
                display: block;
                width: 1vw;
                height: 1vw;
                position: absolute;
                right: 1vw;
                top: 50%;
                margin-top: -.6vw;
                @include mobile {
                    margin-top: -.8vw;
                    right: 2vw;
                }
                @include mobile2 {
                    right: 7vw;
                    margin-top: -1.3vw;
                }
                svg {
                    width: 12px;
                    height: 12px;
                    transition: .3s;
                    @include mobile2 {
                        width: 18px;
                        height: 18px;
                    }
                }
                path {
                    stroke: #777;
                    transition: .3s;
                }
            }
        }

        .list-wrap {
            position: absolute;
            bottom: calc(100% + .7vh);
            background: #fff;
            border: 1px solid #ddd;
            border-radius: 4px;
            width:28vw;
            padding: 1.3vw 0 1vw;
            right: 0;
            display: none;
            transition: .3s;
            @include tablet {
                width: 38vw;
                padding: 2vw 1vw;
            }
            @include mobile {
                width: 50vw;
            }
            @include mobile2 {
                width: 90%;
                padding: 6vw 3vw;
            }
        }
        .relate-list {
            display: flex;
            @include mobile2 {
                flex-direction: column;
            }
        }
        .relate-item {
            padding: 0 1vw;
            flex: 1;
            @include mobile {
                padding-right: 7vw;
                flex:none
            }
            @include mobile2 {
                margin-bottom: 2.3vh;
                &:last-child {
                    margin-bottom: 0;
                }
            }
            em {
                font-size: .8vw;
                font-family: 'kakaoBig-Bold';
                margin-bottom: 1.2vh;
                display: block;
                @include tablet {
                    font-size: 1.2vw;
                }
                @include mobile {
                    font-size: 1.4vw;
                }
                @include mobile2 {
                    font-size: 3vw;
                }
            }
        }
        .relateSub-list {
            li {
                a {
                    color: #777;
                    font-size: .8vw;
                    display: block;
                    padding: 1vh 0;
                    @include tablet {
                        font-size: 1.2vw;
                    }
                    @include mobile {
                        font-size: 1.4vw;
                    }
                    @include mobile2 {
                        font-size: 3vw;
                        padding: 1vh 0;
                    }
                }
            }
        }
    }
}









.footer-sns {
    position: absolute;
    top: 10vh;
    @include mobile2 {
        position:relative;
    }
    .sns-list {
    }
    .sns-item {
        display: inline-block;
        margin: 0 0.2vw;
        @include mobile2 {
            margin-right: 3vw;
        }
        a {
        }
        .ico {
            svg {
                @include mobile2 {
                    width: 12vw;
                height: 12vw;
                }
            }
            path {
                fill: #888;
                transition: .3s;
            }
        }


        &.active {
            .ico {
                path {
                    fill: #000;
                }
            }
        }
    }
}









.copy {
    float: left;
    margin-top: .7vh;
    @include tablet {
        padding-top: 10vh;
    }
    @include mobile2 {
        padding-top: 17vh;
    }
    p {
        font-size: .95vw;
        font-family: 'kakaoBig-Bold';
        @include tablet {
            font-size: 1.4vw;
        }
        @include mobile {
            font-size: 1.7vw;
        }
        @include mobile2 {
            font-size: 3vw;
        }
    }
}
